<!DOCTYPE html>
<html>
    <head>
        <title>
            Practica 2.2
        </title>
        <img src="/images/travieso.jpg" alt="">
    </head>
    <body>
        {{{body}}}
    </body>
</html>